<!--navbar-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <h1>Add Bike</h1>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--form section-->
        <div class="col-md-6">
            <div class="card">
                <!-- <h5>Add Bike</h5> -->
                <div class="row">
                    <form [formGroup]="bikeform">
                        <div class="form-group mb-1">
                            <label for="brand">Brand</label>
                            <select class="form-select" aria-label="Select brand" formControlName="brand">
                                <option selected>Select brand</option>
                                <option *ngFor="let brand of brands">{{ brand }}</option>
                            </select>
                        </div>

                        <div class="form-group mb-1">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
                        </div>

                        <div class="form-group mb-1">
                            <label for="type">Type</label>
                            <select class="form-select" aria-label="Select type" formControlName="type">
                                <option selected>Select type</option>
                                <option *ngFor="let type of types">{{ type }}</option>
                            </select>
                        </div>
                        
                        <div class="form-group mb-1">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" formControlName="price" placeholder="Enter price">
                        </div>

                        <div class="form-group mb-1">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" formControlName="quantity" placeholder="Enter quantity">
                        </div>

                        <div class="form-group mb-1">
                            <label for="rating">Rating</label>
                            <select class="form-select" aria-label="Select rating" formControlName="rating">
                                <option selected>Select rating</option>
                                <option *ngFor="let rating of ratings">{{ rating }}</option>
                            </select>
                        </div>

                        <div class="form-group mb-1">
                            <label for="description">Description</label>
                            <textarea rows="4" class="form-control" formControlName="description" placeholder="Enter description"></textarea>
                        </div>
                        
                        <div class="text-center mt-2">
                            <button type="submit" (click)="submitBike(this.bikeform.value)" [disabled]="this.bikeform.invalid" class="btn btn-primary">Submit</button>&nbsp;
                            <button type="submit" routerLink="/bikelist" class="btn btn-success">Back</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>