<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-3">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">United Cycles Store</a>
</nav>

<div class="row menu">
  <nav class="col-md-2 d-none d-md-block bg-light" style="height: 90vh;">
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/landingpage">Home</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/bikelist">Bikes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/pokemon">Pokemon</a>
          </li>
        </ul>
  </nav>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <router-outlet></router-outlet>
  </main>
</div>

